#survey {
    height: 50vh;
    width: 60vw;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    position: relative;
    top: 25%;
    transform: translateX(30%);
}

.questionDiv {
    margin: 3rem 3rem 0rem 3rem;
    height:30vh;
}

.controls {
    align-items: center;
    text-align: center;
}

#carousel {
  margin-left: 5rem;
  margin-right: 5rem;
  min-height:70%;
}

#background {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #38C57F, #1FBDA9);
    position: absolute;
}

.form-label {
  font-size: 18px;
}

p {
  font-size: 16px;
}
