@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');


.App {
}

.Splash-page {
  background: linear-gradient(to bottom right,#38C57F,#1FBDA9);
  color: #030D2E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Barlow';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #030D2E !important;
  color:#F5F4F6 !important;
  border: none !important;
  transition-property: transform;
  transition-duration: 0.3s;

}
.button:hover, .button:focus, .button:active {
  background-color: #A8E541 !important;
  color:#030D2E !important;
  border: none !important;
  transform: scale(1.1);
  box-shadow: none;

}